<f:if condition="{data.flexform_hide_row} == 1">
    <f:then>
        <div class="tx_aircapturevimeovideo">
            <div class="col-md-12 col">
                {data.tx_gridelements_view_columns.0->f:format.raw()}
            </div>
        </div>
    </f:then>
    <f:else>
        <div class="tx_aircapturevimeovideo">
            <div class="row {data.flexform_additional_class}">
                <div class="col-md-12 col">
                    {data.tx_gridelements_view_columns.0->f:format.raw()}
                </div>
            </div>
        </div>
    </f:else>
</f:if>