<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="copyright">© 2007-2017 Т3 Студия Email: <a href="mailto:info@typo3.ru.net">info@typo3.ru.net</a></div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <span class="cmsmagazine">
    <a title="Участник проекта CMS Magazine" href="http://www.cmsmagazine.ru/creators/typo3-ru-net/?_type_jump=by_our_banner" target="_blank">
      <img alt="Участник проекта CMS Magazine" title="Участник проекта CMS Magazine" src="404_files/gray_1.gif" border="0">
    </a>
  </span>
</div>