<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav sm" data-smartmenus-id="15711453954865405">
        <li class="first-level normal">
            <a href="http://typo3.ru.net/company/about" class="has-submenu">О Компании<span class="sub-arrow">...</span></a>
            <ul class="dropdown-menu">
                <li class="normal">
                    <a href="http://typo3.ru.net/company/about">Информация</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/company/garantiya-na-sajt">Гарантия на сайт</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/company/documents">Документы и реквизиты</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/company/blog">Заметки на полях</a>
                </li>
            </ul>
        </li>

        <li class="first-level normal">
            <a href="http://typo3.ru.net/news">Новости</a>
        </li>

        <li class="first-level normal">
            <a href="http://typo3.ru.net/services/sozdanie-sajta" class="has-submenu">Услуги<span class="sub-arrow">...</span></a>
            <ul class="dropdown-menu">
                <li class="normal">
                    <a href="http://typo3.ru.net/services/sozdanie-sajta">Создание сайта на TYPO3 CMS</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/services/typo3neos-development">Создание сайта на Neos CMS</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/services/obnovlenie-sajtov-na-typo3-cms">Обновление TYPO3 сайтов</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/services/migration">Переход на TYPO3 CMS</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/services/support">Техническая поддержка сайтов</a>

                </li>

                <li class="normal">
                    <a href="http://hostsystems.ru/">Хостинг TYPO3 сайтов</a>

                </li>

            </ul>

        </li>

        <li class="first-level normal">
            <a href="http://typo3.ru.net/typo3/about-typo3" class="has-submenu">О TYPO3<span class="sub-arrow">...</span></a>
            <ul class="dropdown-menu">
                <li class="normal">
                    <a href="http://typo3.ru.net/typo3/about-typo3">Общая информация</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/typo3/why-typo3">Почему TYPO3</a>
                </li>
                <li class="normal">
                    <a href="http://typo3.ru.net/typo3/demo-sajty">Демо сайты</a>
                </li>
            </ul>
        </li>

        <li class="first-level normal">
            <a href="http://typo3.ru.net/portfolio">Портфолио</a>
        </li>
        <li class="first-level normal">
            <a href="http://typo3.ru.net/contacts">Контакты</a>
        </li>

    </ul>
</div>