<div class="page-subheader">
    <f:cObject typoscriptObjectPath="lib.logo" />

    <div class="logo col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-2 col-xs-12">
        <a href="http://typo3.ru.net/">
            <div class="company-name">Т3 Студия</div>
        </a>
        <div class="slogan">
            Создание сайтов на TYPO3 CMS и Neos CMS
        </div>
        <div class="phones">
            <a href="tel:+79500018515">+7 (950) 001-85-15</a><br>
            <a href="tel:+79218675500">+7 (921) 867-55-00</a>
        </div>
    </div>
</div>
<div class="page-subheader-separator"></div>