<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<v:media.picture src="{file}" alt="{file.alternative}" class="img-fluid">
    <v:media.source media="(min-width: 992px)" maxW="700" width="{dimensions.width}" height="{dimensions.height}" class="img-fluid" />
    <v:media.source media="(min-width: 768px)" maxW="600" width="{dimensions.width}" height="{dimensions.height}" class="img-fluid" />
    <v:media.source maxW="480" width="{dimensions.width}" height="{dimensions.height}" class="img-fluid" />
</v:media.picture>

</html>
