<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <f:cObject typoscriptObjectPath="lib.footer" />
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <f:comment>
    <span class="cmsmagazine">
        <a title="Участник проекта CMS Magazine" href="http://www.cmsmagazine.ru/creators/typo3-ru-net/?_type_jump=by_our_banner" target="_blank">
            <img alt="Участник проекта CMS Magazine" title="Участник проекта CMS Magazine" src="404_files/gray_1.gif" border="0">
        </a>
    </span>
    </f:comment>
</div>