<f:if condition="{data.flexform_columnType} == 'cols-1-1-1' ">
    <div class="col-xs-12 col-md-4">
        {data.tx_gridelements_view_columns.0->f:format.raw()}
    </div>
    <div class="col-xs-12 col-md-4">
        {data.tx_gridelements_view_column_1->f:format.raw()}
    </div>
    <div class="col-xs-12 col-md-4">
        {data.tx_gridelements_view_column_2->f:format.raw()}
    </div>
</f:if>

<!-- 1:2:1 -->
<f:if condition="{data.flexform_columnType} == 'cols-1-2-1' ">
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_columns.0->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-6">
        {data.tx_gridelements_view_column_1->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_column_2->f:format.raw()}
    </div>
</f:if>

<!-- 2:1:1 -->
<f:if condition="{data.flexform_columnType} == 'cols-2-1-1' ">
    <div class="col-xs-12 col-lg-6">
        {data.tx_gridelements_view_columns.0->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_column_1->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_column_2->f:format.raw()}
    </div>
</f:if>

<!-- 1:3:1 -->
<f:if condition="{data.flexform_columnType} == 'cols-1-3-1' ">
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_columns.0->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-6">
        {data.tx_gridelements_view_column_1->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_column_2->f:format.raw()}
    </div>
</f:if>

<!-- 2:8:2 -->
<f:if condition="{data.flexform_columnType} == 'cols-2-8-2' ">
    <div class="col-xs-12 col-md-2">
        {data.tx_gridelements_view_columns.0->f:format.raw()}
    </div>
    <div class="col-xs-12 col-md-8">
        {data.tx_gridelements_view_column_1->f:format.raw()}
    </div>
    <div class="col-xs-12 col-md-2">
        {data.tx_gridelements_view_column_2->f:format.raw()}
    </div>
</f:if>

<!-- 3:1:1 -->
<f:if condition="{data.flexform_columnType} == 'cols-3-1-1' ">
    <div class="col-xs-12 col-lg-6">
        {data.tx_gridelements_view_columns.0->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_column_1->f:format.raw()}
    </div>
    <div class="col-xs-12 col-lg-3">
        {data.tx_gridelements_view_column_2->f:format.raw()}
    </div>
</f:if>