<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<link rel="apple-touch-icon" sizes="57x57" href="{f:uri.resource(path:'Favicons/apple-icon-57x57.png')}">
	<link rel="apple-touch-icon" sizes="60x60" href="{f:uri.resource(path:'Favicons/apple-icon-60x60.png')}">
	<link rel="apple-touch-icon" sizes="72x72" href="{f:uri.resource(path:'Favicons/apple-icon-72x72.png')}">
	<link rel="apple-touch-icon" sizes="76x76" href="{f:uri.resource(path:'Favicons/apple-icon-76x76.png')}">
	<link rel="apple-touch-icon" sizes="114x114" href="{f:uri.resource(path:'Favicons/apple-icon-114x114.png')}">
	<link rel="apple-touch-icon" sizes="120x120" href="{f:uri.resource(path:'Favicons/apple-icon-120x120.png')}">
	<link rel="apple-touch-icon" sizes="144x144" href="{f:uri.resource(path:'Favicons/apple-icon-144x144.png')}">
	<link rel="apple-touch-icon" sizes="152x152" href="{f:uri.resource(path:'Favicons/apple-icon-152x152.png')}">
	<link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path:'Favicons/apple-icon-180x180.png')}">
	<link rel="icon" type="image/png" href="{f:uri.resource(path:'Favicons/android-icon-192x192.png')}" sizes="36x36">
	<link rel="icon" type="image/png" href="{f:uri.resource(path:'Favicons/favicon-32x32.png')}" sizes="32x32">
	<link rel="icon" type="image/png" href="{f:uri.resource(path:'Favicons/favicon-96x96.png')}" sizes="96x96">
	<link rel="icon" type="image/png" href="{f:uri.resource(path:'Favicons/favicon-16x16.png')}" sizes="16x16">
	<link rel="manifest" href="{f:uri.resource(path:'Favicons/manifest.json')}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{f:uri.resource(path:'Favicons/ms-icon-144x144.png')}">
	<meta name="theme-color" content="#ffffff">

</html>