<div class="main-wrapper">
    <!-- Begin page content -->
    <div class="container">
        <f:render partial="Header/Header" arguments="{_all}" />
        <div class="row">
            <div class="col-sm-12">
                <f:render partial="Header/Subheader" arguments="{_all}" />
                <f:comment>
                    <f:render partial="Header/Share42" arguments="{_all}" />
                </f:comment>
                <div class="content">
                    <div class="text-area">
                        <f:render partial="Content/Breadcrumb" arguments="{_all}" />
                        <f:render section="section_content" />
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <f:render partial="Footer/Footer" arguments="{_all}" />
</div>
