<div class="main-wrapper">
    <!-- Begin page content -->
    <div class="container">
        <f:render partial="Header/Header" arguments="{_all}" />
        <div class="row">
            <div class="col-md-9">
                <f:render partial="Header/Subheader" arguments="{_all}" />
                <!-- Share 42 -->
                <div class="content content-inner">
                    <div class="text-area">
                        <f:render partial="Content/Breadcrumb" arguments="{_all}" />
                        <f:render section="section_content" />
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-offset-0 right-column">
                <f:cObject typoscriptObjectPath="lib.sideMenu" />
                <f:cObject typoscriptObjectPath="lib.lastNews" />
                <f:cObject typoscriptObjectPath="lib.vkGroup" />
            </div>
        </div>
    </div>
    <f:render partial="Footer/Footer" arguments="{_all}" />
</div>
