<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft" itemscope="itemscope" itemtype="http://schema.org/Article">
    <div class="blog-entry">
        <f:if condition="{newsItem.mediaPreviews}">
            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="blog-img">
                <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                    <f:if condition="{mediaElement.originalResource.type} == 2">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 4">
                        <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                    </f:if>
                    <f:if condition="{mediaElement.originalResource.type} == 5">
                        <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                    </f:if>
                </f:alias>
            </n:link>
        </f:if>

        <div class="desc">
            <h3><n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">{newsItem.title}</n:link></h3>
            <!-- <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span> -->
            <n:removeMediaTags>
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        <div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:then>
                    <f:else>
                        <div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                    </f:else>
                </f:if>
            </n:removeMediaTags>

            <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="lead">Read More <i class="icon-arrow-right3"></i></n:link>
        </div>
    </div>
</div>

</html>